<script src="js/site.js" asp-append-version="true"></script>



<div id="editform" style="display:none">
    <form action="javascript:void(0);" onsubmit="updateequipment()">
        <input type="hidden" id="editequipmentid">
        <input type="text" id="editequipmentname" placeholder="Equipment Name">
        <input type="text" id="editequipmentamount" placeholder="Equipment Amount">
        <input type="date" id="editequipmentdate" placeholder="Equipment Date">
        <input type="submit" value="Save">
        <button type="button" onclick="closebutton()">Close</button>
    </form>
</div>
